SKILL_INSIGHT_API_KEY=

# Opencode agent in harbor task starts inside container, the 172.17.0.1 IP is for witty instance on host machine
SKILL_INSIGHT_BASE_URL=http://172.17.0.1:3000
SKILL_INSIGHT_HOST=http://172.17.0.1:3000

